
<h1>Questions </h1>
<p>(Total: <%= @questions.count%>)</p>

<div class="table-responsive">  
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Name</th>
        <th>Folder</th>
        <th>Feedback</th>
        <th>Nr of Answers</th>
        <th>Nr of true Answers</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.number %></td>
          <td><%= question.name %></td>
          <td><%= question.folder %></td>
          <td><%= question.feedback %></td>
          <td><%= question.answers.count %></td>
          <td><%= question.answers.count{ |answer | answer[:correct] == true}%></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Add a new Question', new_question_path %>
